<div class="row">
  <div class="col-md-10 blog-main">
    <div class="blog-post mt-4">
      <h1 class="blog-post-title border-bottom">{{receta.titulo}}</h1>
      <p class="blog-post-meta">{{receta.fechaPublicacion  | date: 'dd-MMM'}} Por <a href="#">{{receta.userNombre}}</a></p>
      <p>{{receta.descripcion}}</p>
      <blockquote>
        <h2>Preparación</h2>
        <p>{{receta.preparacion}}</p>
      </blockquote>
      <h2>Ingredientes</h2>
      <p>{{receta.ingredientes}}</p>
    </div>
  </div>
  <div class="col-md-2">
    <div class="btn-group pull-right mt-4" *ngIf="idUsuarioLogado == receta.userId">
      <a routerLink="/edit/{{receta.id}}" class="btn btn-dark">Editar</a>
      <a  class="btn btn-danger" (click)="onClickDelete()">Borrar</a>
    </div>
  </div>
</div>